<div class="container">
  <h1>Welcome, <%= @user.username %>!</h1>

  <p>Click <%= link_to 'here', new_recipe_path(@recipe) %> to create a new recipe</p>

  <h3>Recipes</h3>
    <ol>
      <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li>
      <% end %>
    </ol>
</div>
